
<script src="js/main.min.js"></script>
<script>
    var div = document.createElement('div');
    div.style.cssText = 'width:calc(10px)';

    if(!(div.style.length > 0)){
        var link = document.createElement('link');
        link.setAttribute('href', 'css/styles-per.min.css')
        link.setAttribute('rel', 'stylesheet')
        document.body.appendChild(link);
    }
</script>

<noscript>
    <div><img src="//mc.yandex.ru/watch/25346996" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
<!-- Google Analytics counter --><!-- /Google Analytics counter -->

</body>
</html>
