
/*
http://chimir.ru/post/39:
@font-face mixin.Пример использования:
@family: имя шрифта (обязательно).
@filename: название шрифта, так же используется в качестве id для шрифта в формате svg
(обязательно, по умолчанию используется имя шрифта).
@weight: жирность шрифта (не обязательно, по умолчанию normal).
@style: стиль шрифта (не обязательно, по умолчанию normal).

.font-face(Roboto Slab, RobotoSlab-Bold, bold);
 .font-face(@family, @filename: @family, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
        src:url('fonts/@{filename}/@{filename}.eot');
        src:url('fonts/@{filename}/@{filename}.eot?#iefix') format('embedded-opentype'),
                url('fonts/@{filename}/@{filename}.woff') format('woff'),
                url('fonts/@{filename}/@{filename}.ttf') format('truetype'),
                url('fonts/@{filename}/@{filename}.svg#@{filename}') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}
.font-face(Raleway, RalewayLight, 300);
.font-face(Raleway, RalewayRegular, 400);
.font-face(Raleway, RalewaySemiBold, 600);
.font-face(Raleway, RalewayBold, 700);

.font-face(Open Sans, OpenSansLight, 300);
.font-face(Open Sans, OpenSansRegular, 400);
.font-face(Open Sans, OpenSansSemiBold, 600);
.font-face(Open Sans, OpenSansBold, 700);

.font-face(lobstertwo, lobstertwo-regular, 400);
.font-face(lobstertwo, lobstertwo-italic, 400, italic);
.font-face(lobstertwo, lobstertwo-bolditalic, 700, italic);
.font-face(lobstertwo, lobstertwo-bold, 700);

.font-face(Arabic, Arabic, 400);
.font-face(Exo2Bold, Exo2Bold, 400);

.font(@f-name, @f-style, @f-weight, @f-url) {
    @font-face {
        font-family: @f-name;
        font-style: @f-style;
        font-weight: @f-weight;
        src: url(@f-url) format('woff2');
    }

}


.font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
.font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
.font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');



//../fonts
*/

// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;                                      
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


.add-font(@font-url, @font-name, @weight: normal, @style: normal) {
  font-family: @font-name;
  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers
  url('@{font-folder}@{font-url}.ttf') format('truetype'), // Safari, Android, iOS
  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS
  font-weight: @weight;
  font-style: @style;
}
/*========================
https://icomoon.io/
нажимаем на IcoMoon App-> нажимаем на кнопку с книжками add Icon library->
выбираем нужную библиотеку-> например Font Awesome-> ищем нужные иконки->
выбираем их-> нажимаем на кнопку Generate Font-> download->
распакуем архив шрифты из папки font переносим в папку font проекта->
код из файла style.css вставим в код font.less 
========================*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fzjwo');
  src:  url('../fonts/icomoon.eot?fzjwo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fzjwo') format('truetype'),
    url('../fonts/icomoon.woff?fzjwo') format('woff'),
    url('../fonts/icomoon.svg?fzjwo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-anchor-solid:before {
  content: "\e900";
}
.icon-apple-brands:before {
  content: "\e901";
}
.icon-thumbs-down-solid:before {
  content: "\e902";
}


// Roboto Light
@font-face {
  .add-font('RobotoLight/RobotoLight', 'Roboto', 300);
}

// Roboto Regular
@font-face {
  .add-font('RobotoRegular/RobotoRegular', 'Roboto', 400);
}

// RRoboto Medium
@font-face {
  .add-font('RobotoMedium/RobotoMedium', 'Roboto', 500);
}

// PTSerif-Regular
@font-face {
  .add-font('PTSerif-Regular/PTSerif-Regular', 'PTSerif', 400);
}

// PTSerif-Bold
@font-face {
  .add-font('PTSerif-Bold/PTSerif-Bold', 'PTSerif', 700);
}
































